body {
	width: 80%;
	margin: 0 10%;
	padding-bottom: 4em;
}

.modal-footer-thumbnails {
	text-align: center;
}

.modal-footer-thumbnails img {
	width: 60px;
	height: 60px;
	margin: 0 10px;
	cursor: pointer;
}

.current {
	border: 2px #EA0085 solid;
}